<div id="page_content">
        <div id="page_content_inner">



            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <div class="uk-overflow-container">
                                <table class="uk-table">
                                    <thead>
                                        <tr>
                                            <th>Название</th>
                                            <th>Дескриптор</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <% @static_pages.each do |page| %>
                                        <tr>
                                            <td class="uk-text-large uk-text-nowrap"><a href="<%= edit_administrator_static_page_path(page) %>"><%= page.name %></a></td>
                                            <td><%= page.descriptor %></td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
             <div class="md-fab-wrapper">
                <a class="md-btn md-btn-success" href="/administrator/static_pages/new">Добавить</a>
            </div>
        </div>
    </div>