<div  class="header">    
    <div class="container main-header search_space">
            
            <div class="col-xs-3 col-sm-3 col-md-3 ">
                
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 header-search-box center-block">
                <form class="form-inline">
                    <div class="form-group form-category">
                        <select class="select-category">
                            <option value="2">Все города</option>
                            <option value="1">Город 1</option>
                            <option value="2">Город 2</option>
                        </select>
                       
                    </div>
                    <div class="form-group input-serach">
                        <input type="text"  placeholder="Введите текст запроса">
                    </div>
                    <button type="submit" class="pull-right btn-search"></button>
                </form>
            </div>
            
            
        </div>
 </div>       