                        <div class="uk-width-large-3-10">
                             
                            <div class="md-card">
                                
                                <div class="md-card-content">
                                    <h3 class="heading_a">Информация о товаре</h3>
                                    <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                                        <div class="uk-width-large-2-2">
                                            <div class="uk-form-row">
                                                <label>Товар: <%= link_to @product.name, sellers_product_path(@product) %></label>
                                            </div>
                                            <div class="uk-form-row">
                                                <label>Категория: <%= link_to @product_category.name, product_category_path(@product_category) %></label>
                                            </div>
                                            <div class="uk-form-row">
                                                <label>Цена: <%= @product.price %>$</label>
                                            </div>
                                            <div class="uk-form-row">
                                                <label>Просмотры: <%= @product.count_views %></label>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>                      
                        </div>