<footer id="footer">
     <div class="container">
            <!-- introduce-box -->
            <div id="introduce-box" class="row">
                
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="introduce-title">Заголовок 1</div>
                            <ul id="introduce-company"  class="introduce-list">
                                <li><a href="#">Ссылка 1</a></li>
                                <li><a href="#">Ссылка 2</a></li>
                                <li><a href="#">Ссылка 3</a></li>
                                <li><a href="#">Ссылка 4</a></li>
                                <li><a href="#">Ссылка 5</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <div class="introduce-title">Заголовок 2</div>
                            <ul id = "introduce-Account" class="introduce-list">
                                <li><a href="#">Ссылка 1</a></li>
                                <li><a href="#">Ссылка 2</a></li>
                                <li><a href="#">Ссылка 3</a></li>
                                <li><a href="#">Ссылка 4</a></li>
                                <li><a href="#">Ссылка 5</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <div class="introduce-title">Заголовок 3</div>
                            <ul id = "introduce-support"  class="introduce-list">
                                <li><a href="#">Ссылка 1</a></li>
                                <li><a href="#">Ссылка 2</a></li>
                                <li><a href="#">Ссылка 3</a></li>
                                <li><a href="#">Ссылка 4</a></li>
                                <li><a href="#">Ссылка 5</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <div class="introduce-title">Заголовок 4</div>
                            <ul id = "introduce-support"  class="introduce-list">
                               <li><a href="#">Ссылка 1</a></li>
                                <li><a href="#">Ссылка 2</a></li>
                                <li><a href="#">Ссылка 3</a></li>
                                <li><a href="#">Ссылка 4</a></li>
                                <li><a href="#">Ссылка 5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="contact-box">
                        <div class="introduce-title">Подписаться на рассылку</div>
                        <div class="input-group" id="mail-box">
                          <input type="text" placeholder="Your Email Address"/>
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">OK</button>
                          </span>
                        </div><!-- /input-group -->
                        <div class="introduce-title">Мы в социальных сетях</div>
                        <div class="social-link">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-vk"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div><!-- /#introduce-box -->
        
          
        </div> 
</footer>