<div id="header" class="header">
    
    <div class="top-header">
        <div class="container">
            <div id="nav-top-menu" class="nav-top-menu">
                <div class="container">
                    <div class="row">
                        
                        <div id="main-menu" class="col-sm-9 main-menu">
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    
                                    <div id="navbar" class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">
                                            <% @main_menu.each do |menu_item| %>
                                            <% if menu_item.menu_item_id == nil %>
                                                <% if menu_item.menu_items.size > 0 %>
                                                    <li class="dropdown">
                                        <a href="<%= menu_item.link %>" class="dropdown-toggle" data-toggle="dropdown"><%= menu_item.name %></a>
                                        <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 830px;">
                                            <% menu_item.menu_items.each do |menu_item| %>
                                            <li class="block-container col-sm-3">
                                                <ul class="block">
                                                    <li class="img_container">
                                                        <a href="#">
                                                            <img class="img-responsive" src="/main/assets/data/men.png" alt="sport">
                                                        </a>
                                                    </li>
                                                    <li class="link_container group_header">
                                                        <%= link_to menu_item.name, menu_item.link %>
                                                    </li>
                                                </ul>
                                            </li>
                                            <% end %>
                                        </ul>
                                    </li>
                                                <% else %>
                                                <li ><%= link_to menu_item.name, menu_item.link %></li>
                                                <% end %>
                                            <% end %>
                                            
                                               
                                            <% end %>
                                        </ul>
                                        
                                        </div><!--/.nav-collapse -->
                                    </div>
                                </nav>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
