/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.


 */
/* line 16, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.cart_page .next-btn {
  float: right;
  background: #f96d10;
  color: #fff;
  border: 1px solid #f96d10;
  padding: 10px 20px;
  text-decoration: none;
  outline: none !important;
}

/* line 30, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.option2 .div-1 .cate-tit .cate-name {
  padding-left: 10px;
}
/* line 35, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.option2 .div-2 {
  padding-top: 0px;
}
/* line 37, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.option2 .div-2 .hot-cate-img {
  height: 109px;
}

/* line 42, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.cate-name {
  font-size: 10px !important;
}

/* line 45, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.option2 .content-page {
  background: none;
}

/* line 49, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.option2 .product-featured .product-list {
  border-bottom: 1px solid #eaeaea;
}

/* line 53, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
#footer .introduce-title {
  font-size: 14px;
}

/* line 57, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.option6 .main-header .header-search-box .form-inline {
  min-width: 645px;
}

/* line 61, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.header-search-box {
  float: none;
  position: relative;
  margin: 150px auto !important;
  padding: 0px !important;
}

/* line 69, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.product-list li .old-price {
  line-height: 14px;
}

/* line 73, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.product-list ul {
  margin-bottom: 10px !important;
}

/* line 77, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.home .product-list {
  margin-bottom: 10px !important;
}

/* line 80, /home/dima/Rails/project_x/app/assets/stylesheets/administrator.css.scss */
.submit_minicart {
  margin-top: 20px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.


 */
/* line 16, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.cart_page .next-btn {
  float: right;
  background: #f96d10;
  color: #fff;
  border: 1px solid #f96d10;
  padding: 10px 20px;
  text-decoration: none;
  outline: none !important;
}

/* line 30, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.option2 .div-1 .cate-tit .cate-name {
  padding-left: 10px;
}
/* line 35, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.option2 .div-2 {
  padding-top: 0px;
}
/* line 37, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.option2 .div-2 .hot-cate-img {
  height: 109px;
}

/* line 42, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.cate-name {
  font-size: 10px !important;
}

/* line 45, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.option2 .content-page {
  background: none;
}

/* line 49, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.option2 .product-featured .product-list {
  border-bottom: 1px solid #eaeaea;
}

/* line 53, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
#footer .introduce-title {
  font-size: 14px;
}

/* line 57, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.option6 .main-header .header-search-box .form-inline {
  min-width: 645px;
}

/* line 61, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.header-search-box {
  float: none;
  position: relative;
  margin: 150px auto !important;
  padding: 0px !important;
}

/* line 69, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.product-list li .old-price {
  line-height: 14px;
}

/* line 73, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.product-list ul {
  margin-bottom: 10px !important;
}

/* line 77, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.home .product-list {
  margin-bottom: 10px !important;
}

/* line 80, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.submit_minicart {
  margin-top: 20px;
}

/* line 86, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.sidebar_product_list ul li {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
}

/* line 97, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.product-page .ask_link {
  width: 60%;
  float: left;
  position: relative;
  margin: 5px 0 0 10px;
}
/* line 104, /home/dima/Rails/project_x/app/assets/stylesheets/application.css.scss */
.product-page .btn-add-cart {
  width: 20%;
  float: left;
  position: relative;
}
