<div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_a">Категории для показа</h3>
                            
                            <table class="uk-table uk-table-hover">
                                <thead>
                                    <tr>
                                        <th >Категория</th>
                                        <th>Показывать <br/> в товарах <br/> категории</th>
                                        <th>Показов <br/> всего / в день</th>
                                        <th>Цена <br/>за показ <br/> в категории</th>
                                        <th>Надбавка <br/> за показ <br/> в товарах</th>
                                        <th>Стоимость <br/> позиции</th>
                                        <th>Время<br/> действия <br/> (дней)</th>
                                        <th>Показано <br/> всего / сегодня</th>
                                        <th>Остаток показов <br/> всего <br/> категория / карточка</th>
                                        <th>Дата завершения</th>
                                        <% if @advert.active == false %>
                                            <th>Действие</th>
                                        <% end %>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @advert_positions.each do |position| %>
                                    <tr>
                                        <td><%= position.product_category.name %></td>
                                        <td></td>
                                        <td><%= position.views %></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <% if @advert.active == false %>
                                            <td><%= link_to 'Удалить', seller_advert_advert_position_path(position.advert, position), method: :delete %>
                                        <% end %>    
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>