<aside id="sidebar_main">
        <a href="#" class="uk-close sidebar_main_close_button"></a>
        <div class="sidebar_main_header">
            <div class="sidebar_logo"><a href="index.html"><img src="/altair/assets/img/logo_main.png" alt="" height="15" width="71"/></a></div>
            
        </div>
        <div class="menu_section">
            <ul>
                <li>
                    <a href="/administrator">
                        <span class="menu_icon uk-icon-th-large"></span>
                        Главная
                    </a>
                </li>
                <li>
                    <a href="/administrator/products">
                        <span class="menu_icon uk-icon-envelope-o"></span>
                        Витрина
                    </a>
                     <ul>
                        <li><a href="/administrator/product_categories/">Категории товаров</a></li>
                        <li><a href="/administrator/products/">Товары</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/administrator/sellers">
                        <span class="menu_icon uk-icon-th-large"></span>
                        Продавцы
                    </a>
                </li>
                <li>
                    <a href="/administrator/orders">
                        <span class="menu_icon uk-icon-th-large"></span>
                        Заказы
                    </a>
                </li>
                <li>
                    <a href="/administrator/posts">
                        <span class="menu_icon uk-icon-envelope-o"></span>
                        Записи
                    </a>
                     <ul>
                        <li><a href="/administrator/post_categories/">Категории записей</a></li>
                        <li><a href="/administrator/posts/">Записи</a></li>
                    </ul>
                </li>
           

                <li>
                    <a href="/administrator/orders">
                        <span class="menu_icon uk-icon-th-large"></span>
                        Cтраницы
                    </a>
                </li>
                <li>
                    <a href="/administrator/orders">
                        <span class="menu_icon uk-icon-th-large"></span>
                        Блоки
                    </a>
                </li>

                <li>
                    <a href="/administrator/sliders">
                        <span class="menu_icon uk-icon-envelope-o"></span>
                        Слайдеры
                    </a>
                    
                </li>

                <li>
                    <a href="/administrator/menus">
                        <span class="menu_icon uk-icon-th-large"></span>
                        Меню
                    </a>
                </li>

                <li>
                    <a href="/administrator/events">
                        <span class="menu_icon uk-icon-th-large"></span>
                        События
                    </a>
                </li>
            
      
            </ul>
        </div>
    </aside> 