<aside id="sidebar_main">
        <a href="#" class="uk-close sidebar_main_close_button"></a>
        <div class="sidebar_main_header">
            <div class="sidebar_logo"><a href="index.html"><img src="/altair/assets/img/logo_main.png" alt="" height="15" width="71"/></a></div>
            
        </div>
        <div class="menu_section">
            <ul>
                <li>
                    <a href="index.html">
                        <span class="menu_icon uk-icon-th-large"></span>
                        Главная
                    </a>
                </li>
                <li>
                    <a href="/administrator/products">
                        <span class="menu_icon uk-icon-envelope-o"></span>
                        Магазин
                    </a>
                     <ul>
                        <li><a href="/administrator/product_categories/">Категории товаров</a></li>
                        <li><a href="/administrator/products/">Товары</a></li>
                        <li><a href="/administrator/orders/">Заказы</a></li>
                    </ul>
                </li>
      
            </ul>
        </div>
    </aside> 