<% provide(:class, 'category-page option2') %>
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="." title="Return to Home">Главная</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Все категории</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <%= render '/layouts/main/sidebar' %>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- category-slider -->
                <div class="category-slider">
                    <ul class="owl-carousel owl-style2" data-dots="false" data-loop="true" data-nav = "true" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-items="1">
                        <li>
                            <img src="/main/assets/data/category-slide.jpg" alt="category-slider">
                        </li>
                        <li>
                            <img src="/main/assets/data/slide-cart2.jpg" alt="category-slider">
                        </li>
                    </ul>
                </div>
                <!-- ./category-slider -->

                <!-- category short-description -->
                <div class="cat-short-desc">
                    <div class="desc-text text-left">
                        <p>
                            Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Sed ut perspiciatis sit voluptatem accusantim doloremque laudantim.
                        </p>
                    </div>
                    <div class="cat-short-desc-products">
                        <ul class="row">
                            <li class="col-sm-3">
                                <div class="product-container">
                                    <div class="product-thumb">
                                    <a href="#"><img src="/main/assets/data/sub-cat1.jpg" alt="Product"></a>
                                    </div>
                                    <h5 class="product-name">
                                        <a href="#">Sub category 1</a>
                                        
                                    </h5>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="product-container">
                                    <div class="product-thumb">
                                    <a href="#"><img src="/main/assets/data/sub-cat2.jpg" alt="Product"></a>
                                    </div>
                                    <h5 class="product-name">
                                        <a href="#">Sub category 2</a>
                                       
                                    </h5>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="product-container">
                                    <div class="product-thumb">
                                    <a href="#"><img src="/main/assets/data/sub-cat3.jpg" alt="Product"></a>
                                    </div>
                                    <h5 class="product-name">
                                        <a href="#">Sub category 3</a>
                                        
                                    </h5>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="product-container">
                                    <div class="product-thumb">
                                    <a href="#"><img src="/main/assets/data/sub-cat4.jpg" alt="Product"></a>
                                    </div>
                                    <h5 class="product-name">
                                        <a href="#">Sub category 4</a>
                                        
                                    </h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container">
        <div id="hot-categories" class="row">
           <div class="col-sm-6  col-lg-3 cate-box">
                <div class="cate-tit" >
                    <div class="div-1" style="width: 46%;">
                        <div class="cate-name-wrap">
                            <p class="cate-name">Категория # 1</p>
                        </div>
                        <a href="" class="cate-link" data-ac="flipInX" ><span>подробнее</span></a>
                    </div>
                    <div class="div-2" >
                        <a href="#">
                            <img src="/main/assets/data/cate-product4.png" alt="Electronics" class="hot-cate-img" />
                        </a>
                    </div>
                    
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Категория 1 - 1</a></li>
                        <li><a href="#">Категория 1 - 2</a></li>
                        <li><a href="#">Категория 1 - 3</a></li>
                        <li><a href="#">Категория 1 - 4</a></li>
                    </ul>
                </div>
            </div> <!-- /.cate-box -->   
            <div class="col-sm-6  col-lg-3 cate-box">
                <div class="cate-tit" >
                    <div class="div-1" style="width: 46%;">
                        <div class="cate-name-wrap">
                            <p class="cate-name">Категория # 2</p>
                        </div>
                        <a href="" class="cate-link" data-ac="flipInX" ><span>подробнее</span></a>
                    </div>
                    <div class="div-2" >
                        <a href="#">
                            <img src="/main/assets/data/cate-product4.png" alt="Electronics" class="hot-cate-img" />
                        </a>
                    </div>
                    
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Категория 2 - 1</a></li>
                        <li><a href="#">Категория 2 - 2</a></li>
                        <li><a href="#">Категория 2 - 3</a></li>
                        <li><a href="#">Категория 2 - 4</a></li>
                    </ul>
                </div>
            </div> <!-- /.cate-box -->  
            <div class="col-sm-6  col-lg-3 cate-box">
                <div class="cate-tit" >
                    <div class="div-1" style="width: 46%;">
                        <div class="cate-name-wrap">
                            <p class="cate-name">Категория # 3</p>
                        </div>
                        <a href="" class="cate-link" data-ac="flipInX" ><span>подробнее</span></a>
                    </div>
                    <div class="div-2" >
                        <a href="#">
                            <img src="/main/assets/data/cate-product4.png" alt="Electronics" class="hot-cate-img" />
                        </a>
                    </div>
                    
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Категория 3 - 1</a></li>
                        <li><a href="#">Категория 3 - 2</a></li>
                        <li><a href="#">Категория 3 - 3</a></li>
                        <li><a href="#">Категория 3 - 4</a></li>
                    </ul>
                </div>
            </div> <!-- /.cate-box -->  
                                                              
        </div> <!-- /#hot-categories -->
    </div> 

            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>