<% provide(:class, 'product-page right-sidebar  option6') %>
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="/" title="Return to Home">Главная</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Авторизация</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title2">Авторизация для продавцов</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="box-authentication">
                        <h3>Уже зарегистрированы?</h3>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                          <label for="emmail_login">Email address</label>
                          <!-- <input id="emmail_login" type="text" class="form-control"> -->
                          <%= f.email_field :email, autofocus: true, id: "emmail_login", class: "form-control" %>
                          <label for="password_login">Password</label>
                          <%= f.password_field :password, autocomplete: "off", id: "password_login", class: "form-control" %>
                          <p class="forgot-pass"><a href="/sellers/sign_up">У меня нету учетной записи</a></p>
                          <%= f.submit "Войти", class: "button" %>
                          
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>