<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        <div class="uk-overflow-container">
                            <table class="uk-table">
                                <thead>
                                    <tr>
                                        <th>name</th>
                                        <th>name</th>
                                        <th>name</th>
                                        <th>name</th>
                                        <th>name</th>
                                        <th>name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @adverts.each do |advert| %>
                                    <tr>
                                        <td>text</td>
                                        <td class="uk-text-large uk-text-nowrap"><a href="/">text</a></td>
                                        <td class="uk-text-nowrap">text</td>
                                        <td class="uk-text-nowrap"> <i class="material-icons uk-text-success md-24">&#xE835;</i></td>
                                        <td><i class="material-icons uk-text-muted md-24">&#xE835;</i></td>
                                        <td class="uk-text-nowrap">
                                            <%= link_to "<i class=\"material-icons md-24\">&#xE872;</i>".html_safe, seller_advert_path(advert), method: :delete, data: { confirm: 'Удалить ?' } %>
                                            
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="md-fab-wrapper">
            <button class="md-btn md-btn-success" data-uk-modal="{target:'#modal_overflow'}">Добавить</button>
        </div>
    </div>
</div>
<div class="uk-width-medium-3-3">
    <div id="modal_overflow" class="uk-modal">
        <div class="uk-modal-dialog uk-modal-dialog-large">
            <button type="button" class="uk-modal-close uk-close"></button>
            
            
            <div class="md-card">
                <div class="md-card-content">
                    <h3 class="heading_a">Новое объявление</h3>
                    <!-- start form -->
                    <%= form_for([:seller, @advert], class: "uk-form-stacked", id: "product_edit_form", :multipart => true ) do |f| %>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-2-2">
                            <div class="uk-form-row">
                                <label>Товар</label>
                                <%= f.select :product_id, @products.collect {|product| [product.name, product.id ]},{include_blank: 'Не выбрано'}, {"data-md-selectize ": true } %>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <%= f.submit(class: "md-btn md-btn-flat md-btn-flat-primary", value: "Создать") %>
                    </div>
                    <% end %>
                    <!-- end form -->
                </div>
            </div>
        </div>
    </div>
</div>