/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

.cart_page{
	.next-btn{
	 float: right;
    background: #f96d10;
    color: #fff;
    border: 1px solid #f96d10;
    padding: 10px 20px;
    text-decoration: none;
    outline: none !important
	}
}

.option2{
	.div-1{
		.cate-tit{
  		.cate-name{
        padding-left: 10px;     
  		}
	  }
	}
  .div-2{
    padding-top: 0px;
    .hot-cate-img{
      height: 109px;
    }
  }
}
.cate-name{
  font-size: 10px !important;
}
.option2 .content-page{
  background: none;
}

.option2 .product-featured .product-list{
  border-bottom: 1px solid #eaeaea;
}

#footer .introduce-title{
  font-size: 14px
}

.option6 .main-header .header-search-box .form-inline{
  min-width: 645px;
}

.header-search-box{
  
  float: none;
  position: relative;
  margin: 150px auto !important;
  padding: 0px !important;
} 

.product-list li .old-price{
  line-height: 14px;
}

.product-list ul{
  margin-bottom: 10px !important;
}

.home .product-list{
  margin-bottom: 10px !important;
}
.submit_minicart{
  margin-top: 20px;
}

.sidebar_product_list{
  ul{
    li{
      width: 100%;
      float: left;
      clear: both;
      position: relative;
    }
  }
}

.product-page{

.ask_link{
  width: 60%;
  float: left;
  position: relative;
  margin: 5px 0 0 10px;
}

.btn-add-cart{
  width: 20%;
  float: left;
  position: relative;

}

}

