<div id="page_content">
        <div id="page_content_inner">

            <!-- statistics (small charts) -->
            <div class="uk-grid uk-grid-width-large-1-5 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler hierarchical_show" data-uk-sortable data-uk-grid-margin>
                <div>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-float-right uk-margin-top uk-margin-small-right"></div>
                            <span class="uk-text-muted uk-text-small">Посетителей за сегодня</span>
                            <h2 class="uk-margin-remove"><span class="countUpMe">100</span></h2>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-float-right uk-margin-top uk-margin-small-right"></div>
                            <span class="uk-text-muted uk-text-small">Посетителей за неделю</span>
                            <h2 class="uk-margin-remove"><span class="countUpMe">1000</span></h2>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-float-right uk-margin-top uk-margin-small-right"></div>
                            <span class="uk-text-muted uk-text-small">Продаж за неделю</span>
                            <h2 class="uk-margin-remove"><span class="countUpMe">100</span></h2>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-float-right uk-margin-top uk-margin-small-right"></div>
                            <span class="uk-text-muted uk-text-small">Доход за неделю</span>
                            <h2 class="uk-margin-remove"><span class="countUpMe"> 10 000.$</span></h2>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-float-right uk-margin-top uk-margin-small-right"></div>
                            <span class="uk-text-muted uk-text-small">Новых продавцов </span>
                            <h2 class="uk-margin-remove"><span class="countUpMe"> 7</span></h2>
                        </div>
                    </div>
                </div>
            
            </div>


            <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
               
                <div class="uk-width-large-1-2">

                    <div class="md-card">
                        <div class="md-card-content">
                         <h3>Ближайшие выплаты</h3>
                            <ul class="md-list md-list-addon gmap_list" id="map_users_list">
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="/altair/assets/img/avatars/avatar_01_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Продавец 1</span>
                                        <span class="uk-text-small uk-text-muted">Текущий счет: 20 000$</span>
                                        <span class="uk-text-small uk-text-muted">Осталось до выплаты: 5 000$</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="/altair/assets/img/avatars/avatar_01_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Продавец 2</span>
                                        <span class="uk-text-small uk-text-muted">Текущий счет: 10 000$</span>
                                        <span class="uk-text-small uk-text-muted">Осталось до выплаты: 15 000$</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="/altair/assets/img/avatars/avatar_01_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Продавец 3</span>
                                        <span class="uk-text-small uk-text-muted">Текущий счет: 20 000$</span>
                                        <span class="uk-text-small uk-text-muted">Осталось до выплаты: 5 000$</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="/altair/assets/img/avatars/avatar_01_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Продавец 4</span>
                                        <span class="uk-text-small uk-text-muted">Текущий счет: 10 000$</span>
                                        <span class="uk-text-small uk-text-muted">Осталось до выплаты: 15 000$</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="/altair/assets/img/avatars/avatar_01_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Продавец 5</span>
                                        <span class="uk-text-small uk-text-muted">Текущий счет: 20 000$</span>
                                        <span class="uk-text-small uk-text-muted">Осталось до выплаты: 5 000$</span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    
                </div>
                 <div class="uk-width-large-1-2">

                    <div class="md-card">
                        <div class="md-card-content">
                         <h3>Недавно добавленные товары</h3>
                            <ul class="md-list md-list-addon gmap_list" id="map_users_list">
                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="/altair/assets/img/avatars/avatar_01_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Товар 1</span>
                                        <span class="uk-text-small uk-text-muted">Категория: категория 1</span>
                                        <span class="uk-text-small uk-text-muted">Цена: 5 000$</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="/altair/assets/img/avatars/avatar_01_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Товар 2</span>
                                        <span class="uk-text-small uk-text-muted">Категория: категория 2</span>
                                        <span class="uk-text-small uk-text-muted">Цена: 5 000$</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="/altair/assets/img/avatars/avatar_01_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Товар 3</span>
                                        <span class="uk-text-small uk-text-muted">Категория: категория 3</span>
                                        <span class="uk-text-small uk-text-muted">Цена: 5 000$</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="/altair/assets/img/avatars/avatar_01_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Товар 4</span>
                                        <span class="uk-text-small uk-text-muted">Категория: категория 4</span>
                                        <span class="uk-text-small uk-text-muted">Цена: 5 000$</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" src="/altair/assets/img/avatars/avatar_01_tn.png" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Товар 5</span>
                                        <span class="uk-text-small uk-text-muted">Категория: категория 1</span>
                                        <span class="uk-text-small uk-text-muted">Цена: 5 000$</span>
                                    </div>
                                </li>




                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>