<% provide(:class, 'home option6') %>

<div class="page-top">

  <%= render '/site/static/home/products_grid.html.erb' %>
  <div class="container">
    <%= render '/site/static/home/category_show.html.erb' %>
    <%= render '/site/static/home/categories_list.html.erb' %>
  </div>
    <%= render '/site/static/home/articles_list.html.erb' %>     
</div>
